@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Inter", sans-serif;
  }
  *:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

/* Wellness Stay - Premium Brown Theme Scrollbar */
.custom-scrollbar-wellness-stay {
  scrollbar-width: thin !important;
  scrollbar-color: #56aa78 transparent !important;
}

.custom-scrollbar-wellness-stay::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.custom-scrollbar-wellness-stay::-webkit-scrollbar-track {
  background: transparent !important;
}

.custom-scrollbar-wellness-stay::-webkit-scrollbar-thumb {
  background: #4a7c2c !important;
  border-radius: 10px !important;
  border: 1px solid transparent !important;
}
